In [2]:
import pandas as pd
import numpy as np

In [3]:
df = pd.read_csv("uber_rides_data.xlsx - sample_train.csv")

In [4]:
print(df.columns)

Index(['ride_id', 'fare_amount', 'pickup_datetime', 'pickup_longitude',
       'pickup_latitude', 'dropoff_longitude', 'dropoff_latitude',
       'passenger_count'],
      dtype='object')

In [5]:
df.head()

,ride_id,fare_amount,pickup_datetime,pickup_longitude,pickup_latitude,dropoff_longitude,dropoff_latitude,passenger_count
0,24238194,7.5,2015-05-07 19:52:06 UTC,-73.999817,40.738354,-73.999512,40.723217,1
1,27835199,7.7,2009-07-17 20:04:56 UTC,-73.994355,40.728225,-73.994710,40.750325,1
2,44984355,12.9,2009-08-24 21:45:00 UTC,-74.005043,40.740770,-73.962565,40.772647,1
3,25894730,5.3,2009-06-26 08:22:21 UTC,-73.976124,40.790844,-73.965316,40.803349,3
4,17610152,16.0,2014-08-28 17:47:00 UTC,-73.925023,40.744085,-73.973082,40.761247,5

In [6]:
df.shape

(200000, 8)

In [7]:
print(df.dtypes)

ride_id                int64
fare_amount          float64
pickup_datetime       object
pickup_longitude     float64
pickup_latitude      float64
dropoff_longitude    float64
dropoff_latitude     float64
passenger_count        int64
dtype: object

In [8]:
print(df.isnull().sum())

ride_id              0
fare_amount          0
pickup_datetime      0
pickup_longitude     0
pickup_latitude      0
dropoff_longitude    1
dropoff_latitude     1
passenger_count      0
dtype: int64

In [40]:
print(pd.to_datetime(df['pickup_datetime']))

0        2015-05-07 19:52:06
1        2009-07-17 20:04:56
2        2009-08-24 21:45:00
3        2009-06-26 08:22:21
4        2014-08-28 17:47:00
5        2011-02-12 02:27:09
6        2014-10-12 07:04:00
7        2012-12-11 13:52:00
8        2012-02-17 09:32:00
9        2012-03-29 19:06:00
10       2015-05-22 17:32:27
11       2011-05-23 22:15:00
12       2011-05-17 14:03:00
13       2011-06-25 11:19:00
14       2010-04-06 22:20:27
15       2012-02-21 09:33:00
16       2011-09-01 09:21:40
17       2011-03-19 23:58:27
18       2015-03-25 08:58:35
19       2009-08-08 00:20:00
20       2014-02-18 14:26:00
21       2015-03-03 23:15:03
22       2009-11-26 02:58:00
23       2010-09-04 16:12:00
24       2010-05-12 22:32:00
25       2009-02-12 17:52:18
26       2014-01-21 06:55:00
27       2012-11-21 17:37:19
28       2009-05-06 20:06:23
29       2011-12-24 02:52:00
                 ...
199970   2012-11-29 07:49:50
199971   2012-04-07 22:56:00
199972   2010-08-20 13:19:55
199973   2012-11-07 17:53:00
199974   2013-12-28 23:06:00
199975   2009-11-20 19:00:30
199976   2011-10-18 23:53:00
199977   2012-11-20 21:04:30
199978   2009-04-15 08:25:01
199979   2014-06-08 21:38:43
199980   2012-10-22 11:18:32
199981   2014-06-02 21:51:50
199982   2014-08-06 11:06:06
199983   2009-08-29 02:36:56
199984   2015-06-08 12:34:33
199985   2015-04-18 15:16:06
199986   2013-09-07 09:54:32
199987   2011-04-30 00:09:16
199988   2011-10-09 02:02:40
199989   2010-02-18 07:12:00
199990   2015-05-24 22:05:56
199991   2015-06-08 10:49:14
199992   2010-01-30 16:24:00
199993   2012-09-29 19:51:27
199994   2014-01-31 14:42:00
199995   2012-10-28 10:49:00
199996   2014-03-14 01:09:00
199997   2009-06-29 00:42:00
199998   2015-05-20 14:56:25
199999   2010-05-15 04:08:00
Name: pickup_datetime, Length: 199999, dtype: datetime64[ns]

In [41]:
df.dropna(axis=0, inplace=True)

In [42]:
print(df.isnull().sum())

ride_id               0
fare_amount           0
pickup_datetime       0
pickup_longitude      0
pickup_latitude       0
dropoff_longitude     0
dropoff_latitude      0
passenger_count       0
haversine_distance    0
pickup_year           0
pickup_quarter        0
day_of_week           0
dtype: int64

In [43]:

average_fare_amount = df['fare_amount'].mean()

print(f"The average fare amount is: {average_fare_amount:.6f}")

The average fare amount is: 11.359892

In [ ]:
def haversine(lat1, lon1, lat2, lon2):
    lat1, lon1, lat2, lon2 = map(np.radians, [lat1, lon1, lat2, lon2])
    dlat = lat2 - lat1
    dlon = lon2 - lon1
    a = np.sin(dlat/2)**2 + np.cos(lat1) * np.cos(lat2) * np.sin(dlon/2)**2
    c = 2 * np.arcsin(np.sqrt(a))
    r = 6371 
    return c * r


df['haversine_distance'] = haversine(df['pickup_latitude'], df['pickup_longitude'], df['dropoff_latitude'], df['dropoff_longitude'])
median_haversine_distance = df['haversine_distance'].median()
print(f"The median Haversine distance between pickup and dropoff locations is: {median_haversine_distance:.2f} kilometers")

In [44]:
max_haversine_distance = df['haversine_distance'].max()

print(f"The maximum Haversine distance between pickup and dropoff locations is: {max_haversine_distance:.2f} kilometers")

The maximum Haversine distance between pickup and dropoff locations is: 16409.24 kilometers

In [45]:
zero_haversine_mask = df['haversine_distance'] == 0.0
rides_with_zero_haversine_distance = zero_haversine_mask.sum()
print(f"The number of rides with 0.0 Haversine distance between pickup and dropoff locations is: {rides_with_zero_haversine_distance}")

The number of rides with 0.0 Haversine distance between pickup and dropoff locations is: 5632

In [46]:
rides_with_zero_haversine = df[df['haversine_distance'] == 0.0]
mean_fare_amount_for_zero_haversine = rides_with_zero_haversine['fare_amount'].mean()

print(f"The mean 'fare_amount' for rides with 0.0 Haversine distance is: {mean_fare_amount_for_zero_haversine:.2f}")

The mean 'fare_amount' for rides with 0.0 Haversine distance is: 11.59

In [47]:
max_fare_amount = df['fare_amount'].max()
print(f"The maximum 'fare_amount' for a ride is: {max_fare_amount:.2f}")

The maximum 'fare_amount' for a ride is: 499.00

In [48]:
costliest_ride = df[df['fare_amount'] == df['fare_amount'].max()]

from math import radians

def haversine(lat1, lon1, lat2, lon2):
   
    lat1, lon1, lat2, lon2 = map(radians, [lat1, lon1, lat2, lon2])
    dlat = lat2 - lat1
    dlon = lon2 - lon1
    a = (dlat/2)**2 + (dlon/2)**2 * np.cos(lat1) * np.cos(lat2)
    c = 2 * np.arcsin(np.sqrt(a))
    r = 6371 
    return c * r

pickup_lat = costliest_ride['pickup_latitude'].values[0]
pickup_lon = costliest_ride['pickup_longitude'].values[0]
dropoff_lat = costliest_ride['dropoff_latitude'].values[0]
dropoff_lon = costliest_ride['dropoff_longitude'].values[0]

haversine_distance = haversine(pickup_lat, pickup_lon, dropoff_lat, dropoff_lon)

print(f"The Haversine distance for the costliest ride is: {haversine_distance:.5f} kilometers")

The Haversine distance for the costliest ride is: 0.00079 kilometers

In [49]:
df['pickup_datetime'] = pd.to_datetime(df['pickup_datetime'])
df['pickup_year'] = df['pickup_datetime'].dt.year
rides_in_2014 = len(df[df['pickup_year'] == 2014])

print(f"The number of rides recorded in the year 2014 is: {rides_in_2014}")

The number of rides recorded in the year 2014 is: 29968

In [50]:
df['pickup_datetime'] = pd.to_datetime(df['pickup_datetime'])
df['pickup_year'] = df['pickup_datetime'].dt.year
df['pickup_quarter'] = df['pickup_datetime'].dt.quarter
rides_in_q1_2014 = len(df[(df['pickup_year'] == 2014) & (df['pickup_quarter'] == 1)])

print(f"The number of rides recorded in the first quarter of 2014 is: {rides_in_q1_2014}")

The number of rides recorded in the first quarter of 2014 is: 7687

In [53]:
df['day_of_week'] = df['pickup_datetime'].dt.dayofweek
september_2010_rides = df[(df['pickup_datetime'].dt.year == 2010) & (df['pickup_datetime'].dt.month == 9)]
rides_by_day = september_2010_rides.groupby('day_of_week')['day_of_week'].count()
max_rides_day = rides_by_day.idxmax()
days_of_week = ['Monday', 'Tuesday', 'Wednesday', 'Thursday', 'Friday', 'Saturday', 'Sunday']
day_name = days_of_week[max_rides_day]

print(f"The day of the week in September 2010 with the maximum rides recorded was: {day_name}")

The day of the week in September 2010 with the maximum rides recorded was: Thursday